
.venv/
__pycache__/
*.py[cod]
venv/
data/Data_Projet
*.xml
*.egg-info
*.ipynb_checkpoints
data/
output/

.idea/
.DS_Store
YOLOv7_ag/runs/detect/
*.pt
YOLOv7_ag/saved/*
/YOLOv7_ag/tools/

/YOLOv7_ag/scripts/
*.pth

*.jpg
*.numbers
*.csv

/saved